@charset "utf-8";

html,body{
    height: 100%;
    font-family:monospace;
}

body::after {
    position: fixed;/*固定配置*/
    top: 0; left: 0;/*左上に固定*/
    width: 100%; height: 100%;/*画面全体を覆う*/
    content: "";
    z-index: -1;/*背景にするため*/
    background: #808080;
    background:-moz-linear-gradient(top, #404040 30%, #b4b4b4 100%);
    background:-webkit-linear-gradient(top, #404040 30%, #b4b4b4 100%);
    background:linear-gradient(to bottom, #404040 30%, #b4b4b4 100%);
}

.headchar {
    margin-top: 40px;
    text-align: center;
    color: #fff;
    font-size: 200%;
    line-height: 0%;
    text-shadow: 1px 1px 2px silver;
}

.headchar .subhead {
    font-size: 200%;
}

.table_of_contents {
    background:#E0E0F0;
    border: double #A0A0C0;
    border-left: solid #A0A0C0 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width:fit-content;
}

.table_of_contents::before {
    content: "---<| この項の目次 |>---";
}

main {
    background:#D0D0F0;
    font-size: 120%;
    line-height: 150%;
    margin: 5%;
    margin-top: 1%;
    padding: 2%;
}

a {
    text-decoration:none;
}

a:visited {
    color:darkcyan;
}

a:hover {
    color:palevioletred;
    text-decoration:underline;
}

ul {
    list-style-type:none;
    padding-left: 20px;
}

.normal_list {
    list-style-type:circle;
}

.red {/*クラス名blueに対して*/
    color: red;/*色を水色に*/
    font-weight: bold;/*太字に*/
}

.warn {
    color:crimson;
}

.warn .version {
    color:white;
    background-color:black;
    border: double 3px lightblue;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}