<a href="/stp/index.html">
    <div class="headchar">
        <p>『sin型カスタムパーツ立ち絵』</p>
        <p class="subhead">&lt;|取扱説明書|&gt;</p>
    </div>
</a>
<style>
    .headchar {
        padding: 0%;
        margin-top: 40px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        line-height: 0%;
        text-decoration: dashed;
        text-shadow: 1px 1px 2px silver;
    }

    @media (max-width: 768px) {
        .headchar {
            font-size: 20px; /* 横幅が768px以下の場合のフォントサイズ */
        }
    }

    @media (max-width: 480px) {
        .headchar {
            font-size: 15px; /* 横幅が480px以下の場合のフォントサイズ */
        }
    }

    .headchar .subhead {
        font-size: 200%;
    }
</style>